.box {
  margin-bottom: 24px;
}

.title {
  margin-bottom: 20px !important;
}

.fileInput {
  width: 100%;

  input {
    padding: 48px 24px;
    border: 1px solid grey;
    border-radius: 4px;
  }

}